/* Asterisk wildcard selector to override default stules added by the browser */
* {
    padding: 0;
    margin: 0;
    /* Make sure when we set the height or width of the property it will be applied to the entire element */
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: red;
}

/* Main content styles */
main {
    background-color: white;
}

/* Footer styles */
footer {
    background-color: blue;
}