/* Import google font files */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

/* Asterisk wildcard selector to override default stules added by the browser */
* {
    padding: 0;
    margin: 0;
    /* Make sure when we set the height or width of the property it will be applied to the entire element */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: red;
}

h1.logo {
    font-family: 'Public Sans', sans-serif;
}

/* Main content styles */
main {
    background-color: white;
    /* Push main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    margin-top: 3%;
    width: 80%;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div {
    width: 80%;
    border: 5px solid green;
}

#intro-content>form {
    width: 50%;
}

/* Footer styles */
footer {
    background-color: blue;
}

.hide {
    display: none;
}